@import url(./bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lobster|Raleway|Gotu|Anton|JosefinSans|Pacifico);
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css);
@import url(https://use.fontawesome.com/releases/v5.5.0/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade|Monoton|Rubik:900|Bungee+Inline|Cinzel|Fugaz+One|Kodchasan|Poiret+One|Prosto+One|Raleway+Dots|Rubik|Jaldi);
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');



*{
  box-sizing: border-box;
}
body{
  background-image: url("../assets/background1.jpg");
  background-size: cover;
  min-height: 100vh;
  padding-top:4vh;
  font-family: Raleway;
  color: wheat;
}
aside{

  background-color: rgb(187, 81, 10);

}
aside label{
  font-family: Raleway;
 
}

label{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font:bolder;
}

h1, h2{
  font-family: Pacifico;
  margin:0;
}

h1{
  text-align: left;
  font-size: 40px;
  text-transform: uppercase;
}

.page{
  background-color:rgb(139, 51, 9);
  /*background: linear-gradient(rgb(139, 51, 9),rgb(236, 129, 129));*/
  margin:0 5vw;
  padding-bottom: 20px;
}


nav a{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font: bold;
  font-size:120%;
  color:wheat;
  text-decoration: none;
}
nav a:hover{
  color: black;
  text-decoration: none;
}
nav a:hover h1{
  color: black;
}
.all-Rooms img{
  width: 25%;
  border:1px solid gray;
}


.room img{
  width: 30%;
  float: left;
  margin-bottom:10px;
  /*border:1px solid gray;*/
}

.room.big{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background:orange;
}

.room.big img{
  width: 75vw;
}

.corners{
  border-radius: 10px;
  border:1px solid wheat;
}

.padding{
  padding: 10px;
}

.transp{
  opacity: 0.9;
}

.clearfix{
  overflow: auto;
}

@media (max-width: 425px) {
  .w-xs-100 {
     width:100% !important;
  }
}

button {
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  text-shadow:0px 1px 0px #ffee66;
  font-family: Jaldi
}
button:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
button:active {
	position:relative;
	top:1px;
}
button.disable {
  background-color: red;
  color: wheat;
}



@keyframes click-wave {
  0% {
    height: 20px;
    width: 20px;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;
  }
}

.option-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.15s ease-out 0s;
  background: #cbd1d8;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #c24b1c;
}
.option-input:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "✔";
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #c24b1c;
  content: "";
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}
.option-input.radio::after {
  border-radius: 50%;
}



